In [8]:
import pandas as pd

df = pd.read_csv("../Data/downtime_events.csv")
df.head()

,event_id,timestamp_start,timestamp_end,line_id,station_id,robot_id,failure_code,failure_category,downtime_minutes,shift,pieces_lost,day_of_week
0,1,2024-06-12T03:01:00,2024-06-12T03:12:43.902135,FinalAssembly,FA_Station_02,R008,E01,mechanical,12.9,night,1,Wednesday
1,2,2024-01-27T21:47:00,2024-01-27T21:51:14.394438,FinalAssembly,FA_Conv_01,R019,E02,electrical,4.2,afternoon,2,Saturday
2,3,2024-01-08T02:13:00,2024-01-08T02:14:29.758153,BodyShop,BS_Weld_01,R018,E01,mechanical,1.7,night,1,Monday
3,4,2024-06-15T22:34:00,2024-06-15T23:04:46.875093,PaintShop,PS_Paint_01,R015,E03,programming,33.9,night,12,Saturday
4,5,2024-01-02T05:44:00,2024-01-02T05:45:00,PaintShop,PS_Oven_01,R009,E01,mechanical,1.1,night,0,Tuesday

In [ ]:
# Rows and columns from the DataFrame
df.shape

(8000, 12)

In [ ]:
# Check for missing values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   event_id          8000 non-null   int64
 1   timestamp_start   8000 non-null   object
 2   timestamp_end     8000 non-null   object
 3   line_id           8000 non-null   object
 4   station_id        8000 non-null   object
 5   robot_id          8000 non-null   object
 6   failure_code      8000 non-null   object
 7   failure_category  8000 non-null   object
 8   downtime_minutes  8000 non-null   float64
 9   shift             8000 non-null   object
 10  pieces_lost       8000 non-null   int64
 11  day_of_week       8000 non-null   object
dtypes: float64(1), int64(2), object(9)
memory usage: 750.1+ KB

In [ ]:
# Basic statistics of numerical columns
df.describe()

         event_id  downtime_minutes  pieces_lost
count  8000.00000       8000.000000  8000.000000
mean   4000.50000         25.627950     7.778500
std    2309.54541         25.626515     8.230775
min       1.00000          1.000000     0.000000
25%    2000.75000          7.300000     2.000000
50%    4000.50000         17.950000     5.000000
75%    6000.25000         35.200000    11.000000
max    8000.00000        213.600000    68.000000